## PART 1: DEPLOYMENT (LAST OPTIONAL STEP)

### Final Project, Milestone 2
#### Before running, replace the IP address below with your Trino VM's internal IP. Do not change the port number.
#### Before running, start up your MySQL and Postgres Cloud SQL instances and make sure they are up before you try to connect to these databases.

In [1]:
URL="http://10.128.0.6:8080"

In [2]:
!trino $URL --execute "show catalogs"

"bigquery"
"mongo"
"mysql"
"postgres"
"system"
"tpch"

### Querying MySQL through Trino:

In [3]:
!trino $URL --execute "show schemas from mysql"

"college"
"final_project"
"information_schema"
"performance_schema"
"sakila"

In [4]:
!trino $URL --execute "show tables from mysql.college"

"class"
"instructor"
"student"
"teaches"

In [5]:
!trino $URL --execute "show tables from mysql.final_project"

"person"
"shopper"

In [6]:
!trino $URL --execute "select * from mysql.final_project.shopper limit 3"

"03c1c33d-7aa2-4d1f-977f-f53bebd7463b","Theresa","Owen","Smith, Barton and White","4899 Moon Ramp","Suite 300","West Kyle","Elliotthaven","OR                  ","12210               ","629.904.5468                                                                                        ","807.297.2217x421                                                                                    ","kdixon@yahoo.com"
"095f5a18-f2d3-46a4-accd-8e0394ff4a8d","David","Alvarez","Kelly, Turner and Brown","84256 Bishop Overpass","","East Oscar","South Angelamouth","HI                  ","72649               ","(945)860-2050x303                                                                                   ","503-539-9768x416                                                                                    ","joymorrison@yahoo.com"
"096477de-c51f-4b03-bc10-3f16ceae25c7","Kathleen","Cunningham","Foley, Collins and Salazar","32046 Obrien Ville","","West Kent","Davisberg","MA                  ","61500               ","732-820-6451                                                                                        ","697.353.2724x944                                                                                    ","davidgrant@gmail.com"

In [7]:
!trino $URL --execute "select * from mysql.college.student limit 3"

### Querying Postgres through Trino:

In [8]:
!trino $URL --execute "show schemas from postgres"

"college"
"final_project"
"information_schema"
"pagila"
"pg_catalog"
"public"
"reservations"
"shopify"

In [9]:
#use final project instead of college

In [10]:
!trino $URL --execute "show tables from postgres.college"

"class"
"instructor"
"student"
"teaches"

In [11]:
!trino $URL --execute "select * from postgres.college.class limit 3"

### Querying MongoDB through Trino:

In [12]:
!trino $URL --execute "show schemas from mongo"

"college"
"final_project"
"information_schema"

In [13]:
!trino $URL --execute "show tables from mongo.college"

"takes"

In [14]:
!trino $URL --execute "select * from mongo.college.takes limit 3"

"kev18","CS329E"
"bzen26","CS329E"
"jc","CS327E"

### Querying BigQuery through Trino:

In [15]:
!trino $URL --execute "show schemas from bigquery"

"college"
"final_project"
"information_schema"
"school_enrollments"

In [16]:
!trino $URL --execute "show tables from bigquery.college"

"class"
"instructor"
"student"
"takes"
"teaches"
"v_enrollments"

In [17]:
!trino $URL --execute "select * from bigquery.college.instructor limit 3"

"neeman","Joe Neeman","Mathematics"
"koch","Hans Koch","Mathematics"
"mueller","Peter Mueller","Mathematics"

### Putting it all together: joining across MySQL, Postgres, Mongo, and BigQuery

In [1]:
!trino $URL --execute "select * from mysql.college.student s \
join mongo.college.takes ta on s.sid = ta.sid \
join postgres.college.class c on ta.cno = c.cno \
join postgres.college.teaches te on c.cno = te.cno \
join bigquery.college.instructor i on te.tid = i.tid \
order by s.sid \
limit 3"

Error starting query at http://localhost:8080/v1/statement returned an invalid response: JsonResponse{statusCode=403, headers={content-length=[3070], content-security-policy=[frame-ancestors 'self'; report-uri /api/security/csp-report], content-type=[text/html], date=[Thu, 07 Dec 2023 05:31:31 GMT], server=[TornadoServer/6.3.3], set-cookie=[_xsrf=2|90511db5|4babdf216ba9756261ddcbdd72dbae90|1701927091; expires=Sat, 06 Jan 2024 05:31:31 GMT; Path=/], x-content-type-options=[nosniff]}, hasValue=false} [Error: <!DOCTYPE HTML>
<html>

<head>

    <meta charset="utf-8">

    <title>Jupyter Server</title>
    <link id="favicon" rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico?v=50afa725b5de8b00030139d09b38620224d4e7dba47c07ef0e86d4643f30c9bfe6bb7e1a4a1c561aa32834480909a4b6fe7cd1e17f7159330b6b5914bf45a880">

    <link rel="stylesheet" href="/static/style/bootstrap.min.css?v=0e8a7fbd6de23ad6b27ab95802a0a0915af6693af612bc304d83af445529ce5d95842309ca3405d10f538d45c8a3a261b8cff78b4bd512dd9effb4109a71d0ab" />
    <link rel="stylesheet" href="/static/style/bootstrap-theme.min.css?v=8b2f045cb5b4d5ad346f6e816aa2566829a4f5f2783ec31d80d46a57de8ac0c3d21fe6e53bcd8e1f38ac17fcd06d12088bc9b43e23b5d1da52d10c6b717b22b3" />
    <link rel="stylesheet" href="/static/style/index.css?v=30372e3246a801d662cf9e3f9dd656fa192eebde9054a2282449fe43919de9f0ee9b745d7eb49d3b0a5e56357912cc7d776390eddcab9dac85b77bdb17b4bdae" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




<style type="text/css">
    /* disable initial hide */
    div#header,
    div#site {
        display: block;
    }
</style>





</head>

<body class=""    dir="ltr">

  <noscript>
    <div id='noscript'>
      Jupyter Server requires JavaScript.<br>
      Please enable it to proceed.
    </div>
  </noscript>

  <div id="header" role="navigation" aria-label="Top Menu">
    <div id="header-container" class="container">
      <div id="jupyter_server" class="nav navbar-brand"><a href="/lab" title='dashboard'>
          <img src='/static/logo/logo.png?v=a2a176ee3cee251ffddf5fa21fe8e43727a9e5f87a06f9c91ad7b776d9e9d3d5e0159c16cc188a3965e00375fb4bc336c16067c688f5040c0c2d4bfdb852a9e4' alt='Jupyter Server' />
        </a></div>







    </div>
    <div class="header-bar"></div>



  </div>

  <div id="site">


<div class="error">

    <h1>403 : Forbidden</h1>



    <p>The error was:</p>
    <div class="traceback-wrapper">
        <pre class="traceback">&#39;_xsrf&#39; argument missing from POST</pre>
    </div>


</div>


  </div>







  <script type='text/javascript'>
    function _remove_token_from_url() {
      if (window.location.search.length <= 1) {
        return;
      }
      var search_parameters = window.location.search.slice(1).split('&');
      for (var i = 0; i < search_parameters.length; i++) {
        if (search_parameters[i].split('=')[0] === 'token') {
          // remote token from search parameters
          search_parameters.splice(i, 1);
          var new_search = '';
          if (search_parameters.length) {
            new_search = '?' + search_parameters.join('&');
          }
          var new_url = window.location.origin +
            window.location.pathname +
            new_search +
            window.location.hash;
          window.history.replaceState({}, "", new_url);
          return;
        }
      }
    }
    _remove_token_from_url();
  </script>
</body>

</html>]

In [2]:
!trino $URL --execute "select * from mysql.college.student s \
order by s.sid \
limit 3"

Error starting query at http://localhost:8080/v1/statement returned an invalid response: JsonResponse{statusCode=403, headers={content-length=[3070], content-security-policy=[frame-ancestors 'self'; report-uri /api/security/csp-report], content-type=[text/html], date=[Thu, 07 Dec 2023 05:31:32 GMT], server=[TornadoServer/6.3.3], set-cookie=[_xsrf=2|76c7ac3f|1db146adba96e960861c88ab833221bb|1701927092; expires=Sat, 06 Jan 2024 05:31:32 GMT; Path=/], x-content-type-options=[nosniff]}, hasValue=false} [Error: <!DOCTYPE HTML>
<html>

<head>

    <meta charset="utf-8">

    <title>Jupyter Server</title>
    <link id="favicon" rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico?v=50afa725b5de8b00030139d09b38620224d4e7dba47c07ef0e86d4643f30c9bfe6bb7e1a4a1c561aa32834480909a4b6fe7cd1e17f7159330b6b5914bf45a880">

    <link rel="stylesheet" href="/static/style/bootstrap.min.css?v=0e8a7fbd6de23ad6b27ab95802a0a0915af6693af612bc304d83af445529ce5d95842309ca3405d10f538d45c8a3a261b8cff78b4bd512dd9effb4109a71d0ab" />
    <link rel="stylesheet" href="/static/style/bootstrap-theme.min.css?v=8b2f045cb5b4d5ad346f6e816aa2566829a4f5f2783ec31d80d46a57de8ac0c3d21fe6e53bcd8e1f38ac17fcd06d12088bc9b43e23b5d1da52d10c6b717b22b3" />
    <link rel="stylesheet" href="/static/style/index.css?v=30372e3246a801d662cf9e3f9dd656fa192eebde9054a2282449fe43919de9f0ee9b745d7eb49d3b0a5e56357912cc7d776390eddcab9dac85b77bdb17b4bdae" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




<style type="text/css">
    /* disable initial hide */
    div#header,
    div#site {
        display: block;
    }
</style>





</head>

<body class=""    dir="ltr">

  <noscript>
    <div id='noscript'>
      Jupyter Server requires JavaScript.<br>
      Please enable it to proceed.
    </div>
  </noscript>

  <div id="header" role="navigation" aria-label="Top Menu">
    <div id="header-container" class="container">
      <div id="jupyter_server" class="nav navbar-brand"><a href="/lab" title='dashboard'>
          <img src='/static/logo/logo.png?v=a2a176ee3cee251ffddf5fa21fe8e43727a9e5f87a06f9c91ad7b776d9e9d3d5e0159c16cc188a3965e00375fb4bc336c16067c688f5040c0c2d4bfdb852a9e4' alt='Jupyter Server' />
        </a></div>







    </div>
    <div class="header-bar"></div>



  </div>

  <div id="site">


<div class="error">

    <h1>403 : Forbidden</h1>



    <p>The error was:</p>
    <div class="traceback-wrapper">
        <pre class="traceback">&#39;_xsrf&#39; argument missing from POST</pre>
    </div>


</div>


  </div>







  <script type='text/javascript'>
    function _remove_token_from_url() {
      if (window.location.search.length <= 1) {
        return;
      }
      var search_parameters = window.location.search.slice(1).split('&');
      for (var i = 0; i < search_parameters.length; i++) {
        if (search_parameters[i].split('=')[0] === 'token') {
          // remote token from search parameters
          search_parameters.splice(i, 1);
          var new_search = '';
          if (search_parameters.length) {
            new_search = '?' + search_parameters.join('&');
          }
          var new_url = window.location.origin +
            window.location.pathname +
            new_search +
            window.location.hash;
          window.history.replaceState({}, "", new_url);
          return;
        }
      }
    }
    _remove_token_from_url();
  </script>
</body>

</html>]

## PART 2: FEDERATED QUERIES

##### Q1: Who are the shoppers who have reservations in a different city from their own city and who
##### paid for their reservations in US dollars? For those shoppers, return their cust_id, email, along
##### with their reservation count. Order the results by cust_id. Limit the results to 5 records.

In [3]:
!trino $URL --execute "SELECT s.cust_id, s.email, COUNT(r.res_id) AS reservation_count \
FROM mysql.final_project.shopper s \
JOIN postgres.final_project.reservations r ON s.cust_id = r.cust_id \
WHERE s.city <> r.city AND r.curr_code = 'USD' \
GROUP BY s.cust_id, s.email \
ORDER BY s.cust_id \
LIMIT 5;"

Error starting query at http://localhost:8080/v1/statement returned an invalid response: JsonResponse{statusCode=403, headers={content-length=[3070], content-security-policy=[frame-ancestors 'self'; report-uri /api/security/csp-report], content-type=[text/html], date=[Thu, 07 Dec 2023 05:31:33 GMT], server=[TornadoServer/6.3.3], set-cookie=[_xsrf=2|449634f1|4b781726e6ef1ba6a57ccb906d32954a|1701927093; expires=Sat, 06 Jan 2024 05:31:33 GMT; Path=/], x-content-type-options=[nosniff]}, hasValue=false} [Error: <!DOCTYPE HTML>
<html>

<head>

    <meta charset="utf-8">

    <title>Jupyter Server</title>
    <link id="favicon" rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico?v=50afa725b5de8b00030139d09b38620224d4e7dba47c07ef0e86d4643f30c9bfe6bb7e1a4a1c561aa32834480909a4b6fe7cd1e17f7159330b6b5914bf45a880">

    <link rel="stylesheet" href="/static/style/bootstrap.min.css?v=0e8a7fbd6de23ad6b27ab95802a0a0915af6693af612bc304d83af445529ce5d95842309ca3405d10f538d45c8a3a261b8cff78b4bd512dd9effb4109a71d0ab" />
    <link rel="stylesheet" href="/static/style/bootstrap-theme.min.css?v=8b2f045cb5b4d5ad346f6e816aa2566829a4f5f2783ec31d80d46a57de8ac0c3d21fe6e53bcd8e1f38ac17fcd06d12088bc9b43e23b5d1da52d10c6b717b22b3" />
    <link rel="stylesheet" href="/static/style/index.css?v=30372e3246a801d662cf9e3f9dd656fa192eebde9054a2282449fe43919de9f0ee9b745d7eb49d3b0a5e56357912cc7d776390eddcab9dac85b77bdb17b4bdae" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




<style type="text/css">
    /* disable initial hide */
    div#header,
    div#site {
        display: block;
    }
</style>





</head>

<body class=""    dir="ltr">

  <noscript>
    <div id='noscript'>
      Jupyter Server requires JavaScript.<br>
      Please enable it to proceed.
    </div>
  </noscript>

  <div id="header" role="navigation" aria-label="Top Menu">
    <div id="header-container" class="container">
      <div id="jupyter_server" class="nav navbar-brand"><a href="/lab" title='dashboard'>
          <img src='/static/logo/logo.png?v=a2a176ee3cee251ffddf5fa21fe8e43727a9e5f87a06f9c91ad7b776d9e9d3d5e0159c16cc188a3965e00375fb4bc336c16067c688f5040c0c2d4bfdb852a9e4' alt='Jupyter Server' />
        </a></div>







    </div>
    <div class="header-bar"></div>



  </div>

  <div id="site">


<div class="error">

    <h1>403 : Forbidden</h1>



    <p>The error was:</p>
    <div class="traceback-wrapper">
        <pre class="traceback">&#39;_xsrf&#39; argument missing from POST</pre>
    </div>


</div>


  </div>







  <script type='text/javascript'>
    function _remove_token_from_url() {
      if (window.location.search.length <= 1) {
        return;
      }
      var search_parameters = window.location.search.slice(1).split('&');
      for (var i = 0; i < search_parameters.length; i++) {
        if (search_parameters[i].split('=')[0] === 'token') {
          // remote token from search parameters
          search_parameters.splice(i, 1);
          var new_search = '';
          if (search_parameters.length) {
            new_search = '?' + search_parameters.join('&');
          }
          var new_url = window.location.origin +
            window.location.pathname +
            new_search +
            window.location.hash;
          window.history.replaceState({}, "", new_url);
          return;
        }
      }
    }
    _remove_token_from_url();
  </script>
</body>

</html>]

##### Q2: Who are the shoppers who have bought non-stop tickets on American Airlines with a
##### departure date between 01/01/2020 and 12/31/2024? Return the shopper’s cust_id, email,
##### dep_airport and dep_date. Order the results by dep_date. Limit the results to 5 records

In [4]:
!trino $URL --execute "SELECT s.cust_id, s.email, m.dep_airport, m.dep_date \
FROM mysql.final_project.shopper s \
JOIN mongodb.final_project.ticketing m ON s.cust_id = m.cust_id \
WHERE m.airline = 'American Airlines' AND m.stops = 0 \
   AND m.dep_date BETWEEN TIMESTAMP '2020-01-01' AND TIMESTAMP '2024-12-31' \
ORDER BY m.dep_date \
LIMIT 5;"

Error starting query at http://localhost:8080/v1/statement returned an invalid response: JsonResponse{statusCode=403, headers={content-length=[3070], content-security-policy=[frame-ancestors 'self'; report-uri /api/security/csp-report], content-type=[text/html], date=[Thu, 07 Dec 2023 05:31:34 GMT], server=[TornadoServer/6.3.3], set-cookie=[_xsrf=2|e885d1db|bb964683f2363d8749c1a5489ca55312|1701927094; expires=Sat, 06 Jan 2024 05:31:34 GMT; Path=/], x-content-type-options=[nosniff]}, hasValue=false} [Error: <!DOCTYPE HTML>
<html>

<head>

    <meta charset="utf-8">

    <title>Jupyter Server</title>
    <link id="favicon" rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico?v=50afa725b5de8b00030139d09b38620224d4e7dba47c07ef0e86d4643f30c9bfe6bb7e1a4a1c561aa32834480909a4b6fe7cd1e17f7159330b6b5914bf45a880">

    <link rel="stylesheet" href="/static/style/bootstrap.min.css?v=0e8a7fbd6de23ad6b27ab95802a0a0915af6693af612bc304d83af445529ce5d95842309ca3405d10f538d45c8a3a261b8cff78b4bd512dd9effb4109a71d0ab" />
    <link rel="stylesheet" href="/static/style/bootstrap-theme.min.css?v=8b2f045cb5b4d5ad346f6e816aa2566829a4f5f2783ec31d80d46a57de8ac0c3d21fe6e53bcd8e1f38ac17fcd06d12088bc9b43e23b5d1da52d10c6b717b22b3" />
    <link rel="stylesheet" href="/static/style/index.css?v=30372e3246a801d662cf9e3f9dd656fa192eebde9054a2282449fe43919de9f0ee9b745d7eb49d3b0a5e56357912cc7d776390eddcab9dac85b77bdb17b4bdae" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




<style type="text/css">
    /* disable initial hide */
    div#header,
    div#site {
        display: block;
    }
</style>





</head>

<body class=""    dir="ltr">

  <noscript>
    <div id='noscript'>
      Jupyter Server requires JavaScript.<br>
      Please enable it to proceed.
    </div>
  </noscript>

  <div id="header" role="navigation" aria-label="Top Menu">
    <div id="header-container" class="container">
      <div id="jupyter_server" class="nav navbar-brand"><a href="/lab" title='dashboard'>
          <img src='/static/logo/logo.png?v=a2a176ee3cee251ffddf5fa21fe8e43727a9e5f87a06f9c91ad7b776d9e9d3d5e0159c16cc188a3965e00375fb4bc336c16067c688f5040c0c2d4bfdb852a9e4' alt='Jupyter Server' />
        </a></div>







    </div>
    <div class="header-bar"></div>



  </div>

  <div id="site">


<div class="error">

    <h1>403 : Forbidden</h1>



    <p>The error was:</p>
    <div class="traceback-wrapper">
        <pre class="traceback">&#39;_xsrf&#39; argument missing from POST</pre>
    </div>


</div>


  </div>







  <script type='text/javascript'>
    function _remove_token_from_url() {
      if (window.location.search.length <= 1) {
        return;
      }
      var search_parameters = window.location.search.slice(1).split('&');
      for (var i = 0; i < search_parameters.length; i++) {
        if (search_parameters[i].split('=')[0] === 'token') {
          // remote token from search parameters
          search_parameters.splice(i, 1);
          var new_search = '';
          if (search_parameters.length) {
            new_search = '?' + search_parameters.join('&');
          }
          var new_url = window.location.origin +
            window.location.pathname +
            new_search +
            window.location.hash;
          window.history.replaceState({}, "", new_url);
          return;
        }
      }
    }
    _remove_token_from_url();
  </script>
</body>

</html>]

##### Which shoppers have reservations and tickets with matching dates such that the arr_date
##### and dep_date are equal between reservations and ticketing? For such shoppers, sum up their
##### pmt_amt and tik_amt and return this sum as trip_amount. Also, return the shoppers’ cust_id,
##### email, pmt_amt, tik_amt. Order the results by trip_amount in descending order. Limit the results
##### to 5 records.

In [5]:
!trino $URL --execute "SELECT s.cust_id, s.email, SUM(r.pmt_amt) AS pmt_amt, SUM(t.tik_amt) AS tik_amt, \
   SUM(r.pmt_amt + t.tik_amt) AS trip_amount \
 FROM mysql.final_project.shopper s \
 JOIN postgres.final_project.reservations r ON s.cust_id = r.cust_id \
 JOIN mongodb.final_project.ticketing t ON s.cust_id = t.cust_id \
 WHERE r.arr_date = t.arr_date AND r.dep_date = t.dep_date \
   AND s.cust_id IN ( \
     SELECT s.cust_id \
     FROM mysql.final_project.shopper s \
     JOIN postgres.final_project.reservations r ON s.cust_id = r.cust_id \
     JOIN mongodb.final_project.ticketing t ON s.cust_id = t.cust_id \
     WHERE r.arr_date = t.arr_date AND r.dep_date = t.dep_date \
     GROUP BY s.cust_id \
     HAVING COUNT(*) > 0 -- Ensures there are matching reservations and tickets \
   ) \
 GROUP BY s.cust_id, s.email \
 ORDER BY trip_amount DESC \
 LIMIT 5;"

Non-terminated statement: SELECT s.cust_id, s.email, SUM(r.pmt_amt) AS pmt_amt, SUM(t.tik_amt) AS tik_amt,     SUM(r.pmt_amt + t.tik_amt) AS trip_amount   FROM mysql.final_project.shopper s   JOIN postgres.final_project.reservations r ON s.cust_id = r.cust_id   JOIN mongodb.final_project.ticketing t ON s.cust_id = t.cust_id   WHERE r.arr_date = t.arr_date AND r.dep_date = t.dep_date     AND s.cust_id IN (       SELECT s.cust_id       FROM mysql.final_project.shopper s       JOIN postgres.final_project.reservations r ON s.cust_id = r.cust_id       JOIN mongodb.final_project.ticketing t ON s.cust_id = t.cust_id       WHERE r.arr_date = t.arr_date AND r.dep_date = t.dep_date       GROUP BY s.cust_id       HAVING COUNT(*) > 0 -- Ensures there are matching reservations and tickets     )   GROUP BY s.cust_id, s.email   ORDER BY trip_amount DESC   LIMIT 5;;

## PART 3: TRINO EVALUATION