In [1]:
HOST="10.100.32.3"
USER ="root"
PW="Pokemon01"
DB="final_project"

In [2]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /opt/conda/lib/python3.10/site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in /opt/conda/lib/python3.10/site-packages (from mysql-connector-python) (4.21.12)

In [3]:
import mysql.connector

def connect():
    connection = mysql.connector.connect(
    host=HOST,
    user=USER,
    password=PW,
    database=DB,
    autocommit=False)
    
    return connection

In [4]:
import mysql.connector

connection = connect()

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f1f4da68610>

In [5]:
import mysql.connector

connection = connect()
print(connection)

drop = 'DROP TABLE IF EXISTS person'

create = '''CREATE TABLE person(
    id MEDIUMINT NOT NULL AUTO_INCREMENT,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL, 
    address VARCHAR(41) NOT NULL,
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30) NOT NULL, 
    state CHAR(2)NOT NULL, 
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(12) NOT NULL,
    phone_2 CHAR(12)NOT NULL,
    email VARCHAR(44) NOT NULL,
    web VARCHAR(52) NOT NULL, 
    PRIMARY KEY  (id)
) '''

print(drop)
print(create)

try:
    cursor = connection.cursor()
    cursor.execute(drop)
    print('Dropped person table')
    
    cursor = connection.cursor()
    cursor.execute(create)
    print('Created person table')
except Exception as e:
    print("Error occurred while creating person table:", e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f1f4c8165f0>
DROP TABLE IF EXISTS person
CREATE TABLE person(
    id MEDIUMINT NOT NULL AUTO_INCREMENT,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL,
    address VARCHAR(41) NOT NULL,
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30) NOT NULL,
    state CHAR(2)NOT NULL,
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(12) NOT NULL,
    phone_2 CHAR(12)NOT NULL,
    email VARCHAR(44) NOT NULL,
    web VARCHAR(52) NOT NULL,
    PRIMARY KEY  (id)
)
Dropped person table
Created person table

In [6]:
#diff from code sample but from code sample
import mysql.connector

connection = connect()
print(connection)

drop = 'DROP TABLE IF EXISTS person'

create = '''CREATE TABLE person(
    id MEDIUMINT NOT NULL AUTO_INCREMENT,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL, 
    address VARCHAR(41) NOT NULL,
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30) NOT NULL, 
    state CHAR(2)NOT NULL, 
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(12) NOT NULL,
    phone_2 CHAR(12)NOT NULL,
    email VARCHAR(44) NOT NULL,
    web VARCHAR(52) NOT NULL, 
    PRIMARY KEY  (id)
) '''

print(drop)
print(create)

try:
    cursor = connection.cursor()
    cursor.execute(drop)
    print('Dropped person table')
    
    cursor = connection.cursor()
    cursor.execute(create)
    print('Created person table')
except Exception as e:
    print("Error occurred while creating person table:", e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f1f4c8174f0>
DROP TABLE IF EXISTS person
CREATE TABLE person(
    id MEDIUMINT NOT NULL AUTO_INCREMENT,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL,
    address VARCHAR(41) NOT NULL,
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30) NOT NULL,
    state CHAR(2)NOT NULL,
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(12) NOT NULL,
    phone_2 CHAR(12)NOT NULL,
    email VARCHAR(44) NOT NULL,
    web VARCHAR(52) NOT NULL,
    PRIMARY KEY  (id)
)
Dropped person table
Created person table

In [7]:
import mysql.connector

connection = connect()
print(connection)

sql = "INSERT INTO person (first_name, last_name, company, address, city, county, state, zip, phone_1, phone_2, email, web)\
 	  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
rec1 = ("James","Butt","Benton, John B Jr","6649 N Blue Gum St",\
	   "New Orleans","Orleans","LA","70116","504-621-8927","504-845-1427","jbutt@gmail.com","http://www.bentonjohnbjr.com")
rec2 = ("Josephine","Darakjy","Chanay, Jeffrey A Esq",\
	   "4 B Blue Ridge Blvd","Brighton","Livingston","MI","48116","810-292-9388","810-374-9840","josephine_darakjy@darakjy.org","http://www.chanayjeffreyaesq.com")
rec3 = ("Art","Venere","Chemel, James L Cpa","8 W Cerritos Ave\
	   #54","Bridgeport","Gloucester","NJ","08014","856-636-8749","856-264-4130","art@venere.org","http://www.chemeljameslcpa.com")
records = [rec1, rec2, rec3]

try:
    cursor = connection.cursor()
    cursor.executemany(sql, records)
    connection.commit()
    print('Wrote 3 records into person table')
    cursor.close()
except Exception as e:
    print("Error occurred while writing records:", e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f1f4c8156c0>
Wrote 3 records into person table

# Create a database in MySQL with a table by the name of shopper.

# Write a data generator that populates the shopper table with 50 unique records. Your code should produce the following output: 50 records written into shopper table

In [8]:
import mysql.connector

connection = connect()
print(connection)

drop = 'DROP TABLE IF EXISTS shopper'

create = '''CREATE TABLE shopper(
    cust_id VARCHAR(50) NOT NULL,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL, 
    street_1 VARCHAR(41) NOT NULL,
    street_2 VARCHAR(41) NOT NULL,
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30) NOT NULL, 
    state CHAR(20)NOT NULL, 
    zip CHAR(20) NOT NULL,
    phone_1 CHAR(100) NOT NULL,
    phone_2 CHAR(100) NOT NULL,
    email VARCHAR(44) NOT NULL, 
    PRIMARY KEY  (cust_id)
) '''

print(drop)
print(create)

try:
    cursor = connection.cursor()
    cursor.execute(drop)
    print('Dropped shopper table')
    
    cursor = connection.cursor()
    cursor.execute(create)
    print('Created shopper table')
except Exception as e:
    print("Error occurred while creating shopper table:", e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f1f4c816110>
DROP TABLE IF EXISTS shopper
CREATE TABLE shopper(
    cust_id VARCHAR(50) NOT NULL,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL,
    street_1 VARCHAR(41) NOT NULL,
    street_2 VARCHAR(41) NOT NULL,
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30) NOT NULL,
    state CHAR(20)NOT NULL,
    zip CHAR(20) NOT NULL,
    phone_1 CHAR(100) NOT NULL,
    phone_2 CHAR(100) NOT NULL,
    email VARCHAR(44) NOT NULL,
    PRIMARY KEY  (cust_id)
)
Dropped shopper table
Created shopper table

In [9]:
#library helps us generate fake data 
!pip install Faker

Requirement already satisfied: Faker in /opt/conda/lib/python3.10/site-packages (20.0.3)
Requirement already satisfied: python-dateutil>=2.4 in /opt/conda/lib/python3.10/site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.4->Faker) (1.16.0)

In [10]:
import mysql.connector
from faker import Faker


connection = connect()
print(connection)

fake = Faker()
Faker.seed(30)

sql = "INSERT INTO shopper (cust_id, first_name, last_name, company, street_1, street_2, city, county, state, zip, phone_1, phone_2, email)\
 	  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
records = []

for i in range(0, 50):

    a = fake.address()
    street1 = ""
    street2 = ""
    
    if "PO" in a:
        if "Box" in a.split():
            a = a.split("\n")  #trying to get box which splits first and second line
            b = a[0].split("Box ") #splits first and second box (can't include comma bc might be a unit)
            if b[0].find(", Box"):
                street1 = b[0].rstrip(", ")
            else: 
                street1 = b[0]
            street2 = 'Box ' + b[1] #box number should go in street2
            rest = a[1].split()
            city = rest[0] #either be FPO/APO 
            state = rest[1] #either AE, AP, AA
            zip_code = rest[2] #5 digit zip code. 
            info = (street1, street2, city, state, zip_code)
            
            
        
        if a[0].find('Box') == -1:
            a = a.split("\n")
            street1 = a[0]
            b = a[1].split()
            city = b[0]
            state = b[1]
            zip_code = b[2]
            info = (street1, street2, city, state, zip_code)
            
            
            


    else: 
        b = a.split(', ') #parsing thru state: finds us STATE & zip code) 
        state_and_zip = b[1].split(' ') #state_and_zip[0] = state; state_and_zip[1] = zipcode
        state = state_and_zip[0]
        zip_code = state_and_zip[1] 

        c = a.split('\n') #finding city, c[1] gives us both street1 and street2
        d = c[1].split(', ')
        city = d[0]
        e = []
        street = c[0]
        street1 = street
        street2 = ""


        if "Apt" in street:
            e = street.split("Apt. ")
            street1 = e[0]
            street2 = 'Apt. ' + e[1]
        elif "Suite" in street:
            e = street.split("Suite ")
            street1 = e[0]
            street2 = 'Suite ' + e[1]
        else: 
            street2 = ""

        info = (street1, street2, city, state, zip_code)
        
    adr_line_1 = street1
    postal_cd = zip_code
    cust_id = str(fake.uuid4())
    
    
    rec = (cust_id, fake.name().split()[0],fake.name().split()[1], fake.company(), adr_line_1.rstrip(), street2, city, fake.city(), state, postal_cd, fake.phone_number(), fake.phone_number(), fake.simple_profile()["mail"])
    records.append(rec)

try:
    cursor = connection.cursor()
    cursor.executemany(sql, records)
    connection.commit()
    print('Wrote 50 records into shopper table')
    cursor.close()
except Exception as e:
    print("Error occurred while writing records:", e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f1f4c861540>
Wrote 50 records into shopper table