In [1]:
PROJECT = "organic-dryad-397401"
DATASET = "currency"
REGION = "US"

## 1. Create the table

In [2]:
# create an example table from the sample code
from google.cloud import bigquery

client = bigquery.Client(project=PROJECT, location=REGION)

ddl = '''CREATE OR REPLACE TABLE final_project.person(
    id INT NOT NULL,
    first_name STRING NOT NULL,
    last_name STRING NOT NULL,
    company STRING NOT NULL, 
    address STRING NOT NULL,
    city STRING NOT NULL,
    county STRING NOT NULL, 
    state STRING NOT NULL, 
    zip STRING NOT NULL,
    phone_1 STRING NOT NULL,
    phone_2 STRING NOT NULL,
    email STRING NOT NULL,
    web STRING NOT NULL)
'''

print(ddl)

try:
    query_job = client.query(ddl)
    query_job.result()
except Exception as e:
    print("Error occurred while creating table:", e)

CREATE OR REPLACE TABLE final_project.person(
    id INT NOT NULL,
    first_name STRING NOT NULL,
    last_name STRING NOT NULL,
    company STRING NOT NULL,
    address STRING NOT NULL,
    city STRING NOT NULL,
    county STRING NOT NULL,
    state STRING NOT NULL,
    zip STRING NOT NULL,
    phone_1 STRING NOT NULL,
    phone_2 STRING NOT NULL,
    email STRING NOT NULL,
    web STRING NOT NULL)

## 2. Insert records into the table

In [3]:
# Sample Code: inserting data into the newly created table to also test out connection
from google.cloud import bigquery

client = bigquery.Client(project=PROJECT, location=REGION)

sql = '''INSERT INTO final_project.person (id, first_name, last_name, 
         company, address, city, county, state, zip, phone_1,
         phone_2, email, web) 
         VALUES 
         (1, "James","Butt","Benton, John B Jr","6649 N Blue Gum St",
        "New Orleans","Orleans","LA","70116","504-621-8927",
        "504-845-1427","jbutt@gmail.com","http://www.bentonjohnbjr.com"),
        (2, "Josephine","Darakjy","Chanay, Jeffrey A Esq",
        "4 B Blue Ridge Blvd","Brighton","Livingston","MI","48116",
        "810-292-9388","810-374-9840","josephine_darakjy@darakjy.org",
        "http://www.chanayjeffreyaesq.com"),
        (3, "Art","Venere","Chemel, James L Cpa","8 W Cerritos Ave #54",
        "Bridgeport","Gloucester","NJ","08014",
        "856-636-8749","856-264-4130","art@venere.org",
        "http://www.chemeljameslcpa.com")'''

print(sql)

try:
    query_job = client.query(sql)
    query_job.result()
    print('Wrote 3 records into person table')
except Exception as e:
    print("Error occurred while writing to table:", e)

INSERT INTO final_project.person (id, first_name, last_name,
         company, address, city, county, state, zip, phone_1,
         phone_2, email, web)
         VALUES
         (1, "James","Butt","Benton, John B Jr","6649 N Blue Gum St",
        "New Orleans","Orleans","LA","70116","504-621-8927",
        "504-845-1427","jbutt@gmail.com","http://www.bentonjohnbjr.com"),
        (2, "Josephine","Darakjy","Chanay, Jeffrey A Esq",
        "4 B Blue Ridge Blvd","Brighton","Livingston","MI","48116",
        "810-292-9388","810-374-9840","josephine_darakjy@darakjy.org",
        "http://www.chanayjeffreyaesq.com"),
        (3, "Art","Venere","Chemel, James L Cpa","8 W Cerritos Ave #54",
        "Bridgeport","Gloucester","NJ","08014",
        "856-636-8749","856-264-4130","art@venere.org",
        "http://www.chemeljameslcpa.com")
Wrote 3 records into person table

## Part 4. BigQuery
### Create a dataset in BigQuery with a table by the name of "currency" and insert 30 records.

In [4]:
# Create the currency table for BigQuery
from google.cloud import bigquery

clients = bigquery.Client(project=PROJECT, location=REGION)

table = '''CREATE OR REPLACE TABLE final_project.currency(
    curr_code STRING NOT NULL,
    curr_name STRING NOT NULL,
    cntry_code STRING NOT NULL,
    cntry_name STRING NOT NULL)
'''

print(table)

try:
    query_jobs = clients.query(table)
    query_jobs.result()
except Exception as e:
    print("Error occurred while creating table:", e)

CREATE OR REPLACE TABLE final_project.currency(
    curr_code STRING NOT NULL,
    curr_name STRING NOT NULL,
    cntry_code STRING NOT NULL,
    cntry_name STRING NOT NULL)

In [5]:
# Import libraries and packages
from google.cloud import bigquery
from faker import Faker

fake = Faker()

# Set the seed for consistent data generation
Faker.seed(30)


client = bigquery.Client(project=PROJECT, location=REGION)

# Construct the SQL INSERT statement for the 'currency' table
sql = "INSERT INTO final_project.currency (curr_code, curr_name, cntry_code, cntry_name) VALUES ".format(DATASET)

values = []

# Generate 30 records of fake currency and country-related data
for _ in range(30):
    # Generate fake currency code, name, country code, and country name
    curr_code = fake.currency_code()
    curr_name = fake.currency_name()
    cntry_code = fake.country_code()
    cntry_name = fake.country()
    
    # Replace single quotes with double single quotes in country names to avoid SQL syntax errors
    cntry_name = cntry_name.replace("'", "''") if cntry_name else cntry_name
    
    # Create a formatted string with generated values to be inserted
    values.append("('{}', '{}', '{}', '{}')".format(curr_code, curr_name, cntry_code, cntry_name))

sql += ', '.join(values)

print(sql)

try:
    # Execute the SQL query to insert data into the 'currency' table
    query_job = client.query(sql)
    query_job.result()
    print('Wrote 30 records into currency table') # Success message if insertion is successful
except Exception as e:
    print("Error occurred while writing to table:", e) # Error message

INSERT INTO final_project.currency (curr_code, curr_name, cntry_code, cntry_name) VALUES ('TMT', 'Cambodian riel', 'VA', 'Antarctica (the territory South of 60 deg S)'), ('XPF', 'Guatemalan quetzal', 'IE', 'Australia'), ('MZN', 'Mauritian rupee', 'BA', 'Burkina Faso'), ('BSD', 'Serbian dinar', 'AF', 'Mali'), ('NIS', 'Argentine peso', 'BN', 'Cayman Islands'), ('VUV', 'Swazi lilangeni', 'MZ', 'Switzerland'), ('MDL', 'Tajikistani somoni', 'BJ', 'Iran'), ('ARS', 'Manx pound', 'TM', 'Peru'), ('JPY', 'Panamanian balboa', 'TM', 'Bhutan'), ('JPY', 'Zimbabwean dollar', 'TJ', 'Ukraine'), ('CLP', 'Special drawing rights', 'SA', 'Vietnam'), ('KYD', 'Cuban peso', 'KR', 'Turkey'), ('KYD', 'Indian rupee', 'SD', 'Belgium'), ('CZK', 'Israeli new shekel', 'ME', 'Germany'), ('COP', 'Australian dollar', 'NE', 'United States Virgin Islands'), ('SOS', 'South Korean won', 'EE', 'Malta'), ('GEL', 'Rwandan franc', 'KH', 'Greenland'), ('SRD', 'Paraguayan guarani', 'KM', 'Yemen'), ('LSL', 'Salvadoran col√≥n', 'LU', 'Bangladesh'), ('AOA', 'Congolese franc', 'PY', 'Turkey'), ('SDG', 'Iranian rial', 'QA', 'El Salvador'), ('USD', 'Iraqi dinar', 'MD', 'Turkey'), ('EUR', 'Georgian lari', 'ER', 'Malaysia'), ('KES', 'New Zealand dollar', 'TL', 'Czech Republic'), ('GYD', 'Solomon Islands dollar', 'MN', 'Vietnam'), ('PEN', 'West African CFA franc', 'KG', 'Malawi'), ('MVR', 'Yemeni rial', 'MU', 'Gabon'), ('RWF', 'Mauritanian ouguiya', 'KR', 'Maldives'), ('CZK', 'Egyptian pound', 'KE', 'Marshall Islands'), ('LBP', 'Angolan kwanza', 'FM', 'Comoros')
Wrote 30 records into currency table