### Lab 2

#### Group Number:
#### Section:

#### Name:
#### UT EID:

#### Name:
#### UT EID:

#### Date:

In [1]:
# import all the necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

##### Now load the data file _titanic.csv_ into a Pandas object

In [2]:
#df = pd.read_csv ('titanic.csv')

##### Show the first 10 lines from the data file

##### Show the last 10 lines from the data file

##### Type the column names and their types

##### Find the number of passengers listed on the Titanic

##### Give the details of passenger number 523

##### How many female survivors were there?

##### How many male survivors were there?

##### What was the mean age of women that survived?

##### What was the average fare in the first class?

##### Give a histogram of the distribution of ages of all passengers on the Titanic

##### How many passengers do not have an age listed?

##### Give a histogram of the distribution of fares of all passengers on the Titanic

##### There were three passenger classes - 1, 2, and 3. Draw a histogram showing the survival numbers (by gender) in the three passenger classes