### Starter code for Project 4. 
#### Run these cells before starting the assignment.

#### 1. create BQ dataset:

In [1]:
%env dataset_id=school_enrollments

env: dataset_id=school_enrollments

In [2]:
!bq --location=US mk --dataset $dataset_id

Dataset 'organic-dryad-397401:school_enrollments' successfully created.

#### 2. create and populate BQ tables:
##### Note: the load commands will run for a few minutes. Please be patient and wait for them to finish before moving onto step 3.

In [3]:
import os

In [4]:
gsutil_cmd = "gsutil ls gs://cs327e-open-access/stanford-school-enrollment/*"
file_listings = os.popen(gsutil_cmd)
dataset="school_enrollments"

for file in file_listings:

    start_index = file.rindex("_") + 1
    end_index = file.rindex(".")
    table = file[start_index:end_index]
    
    if table in ("co", "district", "fl", "ga", "id", "ma", "mo", "ne", "ny", "or", "school", "sd", "wi"):
        print("skipping " + table)
        continue

    bq_cmd = "bq --location=US load --autodetect --skip_leading_rows=1 "\
             "--source_format=CSV " + dataset + "." + table + ' ' + file
    print(bq_cmd)
    
    os.system(bq_cmd)

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ak gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ak.csv

Waiting on bqjob_r7eb9692b60db970c_0000018ad890af6c_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ar gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ar.csv

Waiting on bqjob_r200a8f147639ebd5_0000018ad890c3cf_1 ... (5s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.az gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_az.csv

Waiting on bqjob_r1147481508b14afe_0000018ad890e4c5_1 ... (5s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ca gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ca.csv

Waiting on bqjob_r4087add95ee1fc74_0000018ad89105a8_1 ... (14s) Current status: DONE

skipping co
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ct gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ct.csv

Waiting on bqjob_rb531fed1695b98e_0000018ad8914ac9_1 ... (3s) Current status: DONE

skipping district
skipping fl
skipping ga
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.hi gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_hi.csv

Waiting on bqjob_r770254c94d46cccb_0000018ad8916350_1 ... (2s) Current status: DONE

skipping id
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.in gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_in.csv

Waiting on bqjob_r53247b222a77a0ec_0000018ad89176da_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.la gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_la.csv

Waiting on bqjob_r32e5702115e5c1d0_0000018ad8919251_1 ... (4s) Current status: DONE

skipping ma
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.md gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_md.csv

Waiting on bqjob_r2f0b8e6b5402ff3_0000018ad891ade2_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.mn gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_mn.csv

Waiting on bqjob_r2c38368be6645f0c_0000018ad891c185_1 ... (9s) Current status: DONE

skipping mo
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ms gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ms.csv

Waiting on bqjob_r318fbd075c3d9da7_0000018ad891f262_1 ... (2s) Current status: DONE

skipping ne
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nh gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nh.csv

Waiting on bqjob_r638365cef81cda73_0000018ad8920633_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nj gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nj.csv

Waiting on bqjob_r54e670b7b9fd5d66_0000018ad8921a11_1 ... (1s) Current status: DONE

BigQuery error in load operation: Error processing job 'organic-
dryad-397401:bqjob_r54e670b7b9fd5d66_0000018ad8921a11_1': Error while reading
data, error message: Could not parse 'N' as INT64 for field
ccd_district_high_grade (position 12) starting at location 2800632  with message
'Unable to parse' File: gs://cs327e-open-access/stanford-school-
enrollment/zf406jp4427_nj.csv
Failure details:
- Error while reading data, error message: CSV processing encountered
too many errors, giving up. Rows: 12208; errors: 1; max bad: 0;
error percent: 0
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nm gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nm.csv

Waiting on bqjob_r4aedf1e8ae8d959e_0000018ad892292a_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nv gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nv.csv

Waiting on bqjob_r36331b7b36a6aaec_0000018ad8923c86_1 ... (2s) Current status: DONE

skipping ny
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ok gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ok.csv

Waiting on bqjob_r5a4eab9d95e53ede_0000018ad8924fa2_1 ... (4s) Current status: DONE

skipping or
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.pa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_pa.csv

Waiting on bqjob_r5ad63bde5bb11f85_0000018ad8926bb4_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.sc gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_sc.csv

Waiting on bqjob_r74dde65a329e0dda_0000018ad8928753_1 ... (3s) Current status: DONE

skipping school
skipping sd
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.tx gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_tx.csv

Waiting on bqjob_r604848117e0c810d_0000018ad8929e97_1 ... (5s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ut gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ut.csv

Waiting on bqjob_r2f106eb5462173e6_0000018ad892beca_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wa.csv

Waiting on bqjob_r37d73738fe6d5123_0000018ad892d6d8_1 ... (5s) Current status: DONE

skipping wi
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wy gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wy.csv

Waiting on bqjob_r5e52927190942782_0000018ad892f66c_1 ... (2s) Current status: DONE

#### 3. Open the BQ UI and explore the schemas for the tables in the `school_enrollments` dataset. Also, preview the tables in the UI to see some sample data.

#### 4. Find school enrollments by school name, grade level, and year for Texas:

In [5]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

##### Note: Since the `total` column in the table is of type STRING, we needed to cast it to an INTEGER type before we can apply the `sum` function. Please see documentation on BQ's string functions, which include `cast()` and `replace()`: https://cloud.google.com/bigquery/docs/reference/standard-sql/string_functions

#### 5. Find school enrollments by school name, grade level, and year for Austin:

In [6]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

#### Project 4 marker. Add your work for Project 4 below this cell.

# Project 4 Begin:
### Write 8 aggregate queries over the school enrollment tables:

#### Query 1: Calculate the total enrollments by grade level for the Lennox district in California.

In [1]:
%%bigquery
select grade, sum(cast(total as int64)) as total_enrollment
from school_enrollments.ca
where grade != "" and district = "Lennox"
group by grade
order by grade;

Query is running:   0%|          |

Downloading:   0%|          |

         grade  total_enrollment
0   combined_K              2362
1      grade_1              2186
2     grade_10              1252
3     grade_11              1180
4     grade_12              1153
5      grade_2              2176
6      grade_3              2320
7      grade_4              2330
8      grade_5              2206
9      grade_6              2410
10     grade_7              2562
11     grade_8              2737
12     grade_9              1308
13  k_12_total             26182

#### Query 2: Find Top 10 school districts in California (CA) with the highest total enrollment of English Language Learners (ell) in 2020.

In [2]:
%%bigquery
select district, sum(cast(ell as int64)) as total_ell_enrollment,
from school_enrollments.ca
where year = 2020
group by district
having sum(ell) > 10
order by total_ell_enrollment desc
limit 10;

Query is running:   0%|          |

Downloading:   0%|          |

                      district  total_ell_enrollment
0          Los Angeles Unified                239252
1            San Diego Unified                 48056
2            Santa Ana Unified                 36168
3        San Francisco Unified                 33840
4              Oakland Unified                 31050
5         Garden Grove Unified                 27120
6               Fresno Unified                 26232
7  San Bernardino City Unified                 22056
8          Twin Rivers Unified                 21668
9           Long Beach Unified                 20596

#### Query 3: Find the school districts in Connecticut (CT) with the highest percentage of students with disabilities in 2020, but only include districts with more than 500 students with disabilities.

In [3]:
%%bigquery
select sect.district, ( count(sect.disability) / sum(safe_cast(sect.disability as int64))) * 100 as disability_percentage
from school_enrollments.ct as sect
where sect.year = 2020
group by sect.district
having disability_percentage > 15 and count(sect.disability) > 500
order by disability_percentage desc;

Query is running:   0%|          |

Downloading:   0%|          |

                     district  disability_percentage
0     Bristol School District              34.858681
1    Hartford School District              28.455285
2   New Haven School District              27.486911
3   Waterbury School District              24.013722
4  Bridgeport School District              15.445545

#### Query 4: Find the top 10 school districts in California (CA) with the highest total enrollment in the year 2020.

In [4]:
%%bigquery
select district, sum(cast(total as int64)) as total_enrollment
from school_enrollments.ca
where year = 2020
group by district
order by total_enrollment desc
limit 10;

Query is running:   0%|          |

Downloading:   0%|          |

                      district  total_enrollment
0          Los Angeles Unified           2402022
1            San Diego Unified            492932
2               Fresno Unified            293142
3           Long Beach Unified            287136
4            Elk Grove Unified            257442
5        San Francisco Unified            244498
6  San Bernardino City Unified            212382
7           Capistrano Unified            211366
8         Corona-Norco Unified            210008
9             San Juan Unified            203416

#### Query 5: Find the districts with the highest percentage of male students in Nevada.

In [5]:
%%bigquery
select district, max(cast(male as int64)) as max_male_students
from school_enrollments.nv
group by district
having max_male_students is not null
order by max_male_students desc
limit 10;

Query is running:   0%|          |

Downloading:   0%|          |

                        district  max_male_students
0                          Clark             172555
1                   Clark County             164245
2                         Washoe              35107
3                  Washoe County              33537
4                           Elko               5257
5  Somerset Academy of Las Vegas               4795
6                           Lyon               4664
7               Somerset Academy               4599
8                         Carson               4202
9                    Carson City               3972

#### Query 6: List school districts with the highest total enrollment of low-income students in Louisiana

In [6]:
%%bigquery
select district, sum(safe_cast(low_income as float64)) as total_low_income_enrollment
from school_enrollments.la
where low_income is not null
group by district
having sum(safe_cast(low_income as float64)) > 5000.0
order by total_low_income_enrollment desc
limit 10;

Query is running:   0%|          |

Downloading:   0%|          |

                  district  total_low_income_enrollment
0         Jefferson Parish                     483760.0
1  East Baton Rouge Parish                     387398.0
2             Caddo Parish                     321750.0
3           Orleans Parish                     309110.0
4         Lafayette Parish                     257538.0
5         Calcasieu Parish                     250706.0
6       St. Tammany Parish                     246682.0
7          Type 2 Charters                     229592.0
8           Rapides Parish                     199540.0
9        Tangipahoa Parish                     175570.0

#### Query 7: This compares total enrollment between the current year (ct1) and the previous year (ct2) for each district wihtin the state of Connecticut (ct) limit 15 since there was about 400 entries.

In [7]:
%%bigquery
select ct1.district as current_district, ct2.district as previous_district, ct1.year as current_year, ct2.year as previous_year, sum(safe_cast(ct1.total as int64)) as current_total, sum(safe_cast(ct2.total as int64)) as previous_total
from school_enrollments.ct as ct1
join school_enrollments.ct as ct2
on ct1.district = ct2.district and ct1.year = ct2.year + 1
group by ct1.year, ct1.district, ct2.district, ct2.year
order by ct1.district, ct1.year
limit 15;

Query is running:   0%|          |

Downloading:   0%|          |

,current_district,previous_district,current_year,previous_year,current_total,previous_total
0,Achievement First Bridgeport Academy District,Achievement First Bridgeport Academy District,2020,2019,124320,122416
1,Achievement First Bridgeport Academy District,Achievement First Bridgeport Academy District,2021,2020,126224,124320
2,Achievement First Hartford Academy District,Achievement First Hartford Academy District,2020,2019,130928,124544
3,Achievement First Hartford Academy District,Achievement First Hartford Academy District,2021,2020,130368,130928
4,Amistad Academy District,Amistad Academy District,2020,2019,123536,121296
5,Amistad Academy District,Amistad Academy District,2021,2020,127008,123536
6,Andover School District,Andover School District,2020,2019,19488,19320
7,Andover School District,Andover School District,2021,2020,17752,19488
8,Ansonia School District,Ansonia School District,2020,2019,992880,1137276
9,Ansonia School District,Ansonia School District,2021,2020,1104642,1116990
10,Area Cooperative Educational Services,Area Cooperative Educational Services,2020,2019,1115884,1141448
11,Area Cooperative Educational Services,Area Cooperative Educational Services,2021,2020,1118348,1115884
12,Ashford School District,Ashford School District,2020,2019,41272,43288
13,Ashford School District,Ashford School District,2021,2020,39760,41272
14,Avon School District,Avon School District,2020,2019,1233036,1221472

#### Query 8: This compares total enrollment between the current year (la1) and the previous year (la2) for each district wihtin the state of Louisiana (la) limit 15 since there was about 100+ entries.

In [8]:
%%bigquery
select la1.district as current_district, la2.district as previous_district, la1.year as current_year, la2.year as previous_year, sum(safe_cast(la1.total as int64)) as current_total, sum(safe_cast(la2.total as int64)) as previous_total
from school_enrollments.la as la1
join school_enrollments.la as la2
on la1.district = la2.district and la1.year = la2.year + 1
group by la1.year, la1.district, la2.district, la2.year
order by la1.district, la1.year
limit 15;

Query is running:   0%|          |

Downloading:   0%|          |

,current_district,previous_district,current_year,previous_year,current_total,previous_total
0,Acadia Parish,Acadia Parish,2020,2019,82222272,82380466
1,Acadia Parish,Acadia Parish,2021,2020,80980998,87361164
2,Allen Parish,Allen Parish,2020,2019,12846336,14134632
3,Allen Parish,Allen Parish,2021,2020,13720968,14786668
4,Ascension Parish,Ascension Parish,2020,2019,172220096,174857794
5,Ascension Parish,Ascension Parish,2021,2020,179445608,201913216
6,Assumption Parish,Assumption Parish,2020,2019,8401920,8640036
7,Assumption Parish,Assumption Parish,2021,2020,8123868,8927040
8,Avoyelles Parish,Avoyelles Parish,2020,2019,15626496,16281650
9,Avoyelles Parish,Avoyelles Parish,2021,2020,15552460,16603152
10,Beauregard Parish,Beauregard Parish,2020,2019,19649344,19657380
11,Beauregard Parish,Beauregard Parish,2021,2020,19210356,20877428
12,Bienville Parish,Bienville Parish,2020,2019,5534720,5554584
13,Bienville Parish,Bienville Parish,2021,2020,5103258,5880640
14,Bossier Parish,Bossier Parish,2020,2019,203123200,203279898