In [1]:
%env INSTANCE=mysql

env: INSTANCE=mysql

In [2]:
# download Sakila zip file and unzip it (unzipped it in the terminal)
!gsutil cp gs://cs327e-open-access/sakila.zip .

Copying gs://cs327e-open-access/sakila.zip...
/ [1 files][786.4 KiB/786.4 KiB]
Operation completed over 1 objects/786.4 KiB.

In [3]:
# unzip the sakila file
# already did it in the terminal 
# !unzip sakila.zip

In [4]:
# Create the sakila database and database objects by running "sakila-database.sql."
!mysql < /home/jupyter/sakila/sakila-database.sql

In [5]:
# Populate the tables by running "sakila-data.sql" 
!mysql < /home/jupyter/sakila/sakila-data.sql

In [6]:
!mysql sakila -e "show tables"

+----------------------------+
| Tables_in_sakila           |
+----------------------------+
| actor                      |
| actor_info                 |
| address                    |
| category                   |
| city                       |
| country                    |
| customer                   |
| customer_list              |
| film                       |
| film_actor                 |
| film_category              |
| film_list                  |
| film_text                  |
| inventory                  |
| language                   |
| nicer_but_slower_film_list |
| payment                    |
| rental                     |
| sales_by_film_category     |
| sales_by_store             |
| staff                      |
| staff_list                 |
| store                      |
+----------------------------+

#### Get a row count for actor, address, city, country, and customer tables

In [7]:
!mysql sakila -e "select count(*) from actor"

+----------+
| count(*) |
+----------+
|      200 |
+----------+

In [8]:
!mysql sakila -e "select count(*) from address"

+----------+
| count(*) |
+----------+
|      603 |
+----------+

In [9]:
!mysql sakila -e "select count(*) from city"

+----------+
| count(*) |
+----------+
|      600 |
+----------+

In [10]:
!mysql sakila -e "select count(*) from country"

+----------+
| count(*) |
+----------+
|      109 |
+----------+

In [11]:
!mysql sakila -e "select count(*) from customer"

+----------+
| count(*) |
+----------+
|      599 |
+----------+

#### Write a query to sample a few records from actor, address, city, country, and customer tables using the LIMIT clause

In [12]:
!mysql sakila -e "select * from actor limit 5"

+----------+------------+--------------+---------------------+
| actor_id | first_name | last_name    | last_update         |
+----------+------------+--------------+---------------------+
|        1 | PENELOPE   | GUINESS      | 2006-02-15 04:34:33 |
|        2 | NICK       | WAHLBERG     | 2006-02-15 04:34:33 |
|        3 | ED         | CHASE        | 2006-02-15 04:34:33 |
|        4 | JENNIFER   | DAVIS        | 2006-02-15 04:34:33 |
|        5 | JOHNNY     | LOLLOBRIGIDA | 2006-02-15 04:34:33 |
+----------+------------+--------------+---------------------+

In [13]:
!mysql sakila -e "select * from address limit 5"

+------------+----------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+
| address_id | address              | address2 | district | city_id | postal_code | phone       | location                  | last_update         |
+------------+----------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+
|          1 | 47 MySakila Drive    | NULL     | Alberta  |     300 |             |             |        >
2]c4\�vۍ��H@     | 2014-09-25 22:30:27 |
|          2 | 28 MySQL Boulevard   | NULL     | QLD      |     576 |             |             |        ��߁$c@N��P"�;�        | 2014-09-25 22:30:09 |
|          3 | 23 Workhaven Lane    | NULL     | Alberta  |     300 |             | 14033335568 |        ��hc4\��~p��H@       | 2014-09-25 22:30:27 |
�4&c@B֮d"�;�     | 2014-09-25 22:30:09 |L     | QLD      |     576 |             | 6172235589  |        [
|          5 | 1913 Hanoi Way       |          | Nagasaki |     463 | 35200       | 28303384290 |        (�7!7`@����_�@@       | 2014-09-25 22:31:53 |
+------------+----------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+

In [14]:
!mysql sakila -e "select * from city limit 5"

+---------+--------------------+------------+---------------------+
| city_id | city               | country_id | last_update         |
+---------+--------------------+------------+---------------------+
|       1 | A Corua (La Corua) |         87 | 2006-02-15 04:45:25 |
|       2 | Abha               |         82 | 2006-02-15 04:45:25 |
|       3 | Abu Dhabi          |        101 | 2006-02-15 04:45:25 |
|       4 | Acua               |         60 | 2006-02-15 04:45:25 |
|       5 | Adana              |         97 | 2006-02-15 04:45:25 |
+---------+--------------------+------------+---------------------+

In [15]:
!mysql sakila -e "select * from country limit 5"

+------------+----------------+---------------------+
| country_id | country        | last_update         |
+------------+----------------+---------------------+
|          1 | Afghanistan    | 2006-02-15 04:44:00 |
|          2 | Algeria        | 2006-02-15 04:44:00 |
|          3 | American Samoa | 2006-02-15 04:44:00 |
|          4 | Angola         | 2006-02-15 04:44:00 |
|          5 | Anguilla       | 2006-02-15 04:44:00 |
+------------+----------------+---------------------+

In [16]:
!mysql sakila -e "select * from customer limit 5"

+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+
| customer_id | store_id | first_name | last_name | email                               | address_id | active | create_date         | last_update         |
+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+
|           1 |        1 | MARY       | SMITH     | MARY.SMITH@sakilacustomer.org       |          5 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           2 |        1 | PATRICIA   | JOHNSON   | PATRICIA.JOHNSON@sakilacustomer.org |          6 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           3 |        1 | LINDA      | WILLIAMS  | LINDA.WILLIAMS@sakilacustomer.org   |          7 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           4 |        2 | BARBARA    | JONES     | BARBARA.JONES@sakilacustomer.org    |          8 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           5 |        1 | ELIZABETH  | BROWN     | ELIZABETH.BROWN@sakilacustomer.org  |          9 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+

#### Write one query on ANY table that uses both a WHERE clause and ORDER BY clause

In [17]:
# Which films are categorized as comedy and organize it by ascending order (least to greatest)? 
# This query will select all of the columns in the table film_category and filter it where the movies are only 
# comedies and are organized by film_id in ascending order. 
!mysql sakila -e "select * from film_category where category_id = 5 order by film_id"

+---------+-------------+---------------------+
| film_id | category_id | last_update         |
+---------+-------------+---------------------+
|       7 |           5 | 2006-02-15 05:07:09 |
|      28 |           5 | 2006-02-15 05:07:09 |
|      99 |           5 | 2006-02-15 05:07:09 |
|     119 |           5 | 2006-02-15 05:07:09 |
|     127 |           5 | 2006-02-15 05:07:09 |
|     159 |           5 | 2006-02-15 05:07:09 |
|     178 |           5 | 2006-02-15 05:07:09 |
|     182 |           5 | 2006-02-15 05:07:09 |
|     188 |           5 | 2006-02-15 05:07:09 |
|     202 |           5 | 2006-02-15 05:07:09 |
|     242 |           5 | 2006-02-15 05:07:09 |
|     247 |           5 | 2006-02-15 05:07:09 |
|     265 |           5 | 2006-02-15 05:07:09 |
|     276 |           5 | 2006-02-15 05:07:09 |
|     308 |           5 | 2006-02-15 05:07:09 |
|     317 |           5 | 2006-02-15 05:07:09 |
|     324 |           5 | 2006-02-15 05:07:09 |
|     332 |           5 | 2006-02-15 05:07:09 |
|     335 |           5 | 2006-02-15 05:07:09 |
|     365 |           5 | 2006-02-15 05:07:09 |
|     385 |           5 | 2006-02-15 05:07:09 |
|     388 |           5 | 2006-02-15 05:07:09 |
|     404 |           5 | 2006-02-15 05:07:09 |
|     410 |           5 | 2006-02-15 05:07:09 |
|     413 |           5 | 2006-02-15 05:07:09 |
|     443 |           5 | 2006-02-15 05:07:09 |
|     444 |           5 | 2006-02-15 05:07:09 |
|     478 |           5 | 2006-02-15 05:07:09 |
|     502 |           5 | 2006-02-15 05:07:09 |
|     522 |           5 | 2006-02-15 05:07:09 |
|     524 |           5 | 2006-02-15 05:07:09 |
|     529 |           5 | 2006-02-15 05:07:09 |
|     555 |           5 | 2006-02-15 05:07:09 |
|     568 |           5 | 2006-02-15 05:07:09 |
|     604 |           5 | 2006-02-15 05:07:09 |
|     613 |           5 | 2006-02-15 05:07:09 |
|     638 |           5 | 2006-02-15 05:07:09 |
|     657 |           5 | 2006-02-15 05:07:09 |
|     660 |           5 | 2006-02-15 05:07:09 |
|     672 |           5 | 2006-02-15 05:07:09 |
|     680 |           5 | 2006-02-15 05:07:09 |
|     704 |           5 | 2006-02-15 05:07:09 |
|     754 |           5 | 2006-02-15 05:07:09 |
|     756 |           5 | 2006-02-15 05:07:09 |
|     765 |           5 | 2006-02-15 05:07:09 |
|     774 |           5 | 2006-02-15 05:07:09 |
|     814 |           5 | 2006-02-15 05:07:09 |
|     837 |           5 | 2006-02-15 05:07:09 |
|     857 |           5 | 2006-02-15 05:07:09 |
|     858 |           5 | 2006-02-15 05:07:09 |
|     871 |           5 | 2006-02-15 05:07:09 |
|     905 |           5 | 2006-02-15 05:07:09 |
|     906 |           5 | 2006-02-15 05:07:09 |
|     932 |           5 | 2006-02-15 05:07:09 |
|     938 |           5 | 2006-02-15 05:07:09 |
|     939 |           5 | 2006-02-15 05:07:09 |
|     978 |           5 | 2006-02-15 05:07:09 |
|    1000 |           5 | 2006-02-15 05:07:09 |
+---------+-------------+---------------------+

#### Write an INSERT statement to add a record into any one of the tables.

In [18]:
# Insert a new langauge into the langauge table where the language is vietnamese with the latest update (9/5/2023 at 8:50pm)
# and the language_id takes after the last input of the table.
!mysql sakila -e "insert into language (language_id, name, last_update) values ('7', 'Vietnamese', '2006-02-15 05:02:19')"

In [19]:
# show the new language table with the insert
!mysql sakila -e "select * from language"

+-------------+------------+---------------------+
| language_id | name       | last_update         |
+-------------+------------+---------------------+
|           1 | English    | 2006-02-15 05:02:19 |
|           2 | Italian    | 2006-02-15 05:02:19 |
|           3 | Japanese   | 2006-02-15 05:02:19 |
|           4 | Mandarin   | 2006-02-15 05:02:19 |
|           5 | French     | 2006-02-15 05:02:19 |
|           6 | German     | 2006-02-15 05:02:19 |
|           7 | Vietnamese | 2006-02-15 05:02:19 |
+-------------+------------+---------------------+

#### Write an UPDATE statement to update one or more records from any one of the tables

In [20]:
# Using the last table, the language table, let's say we accidentally put the wrong last update.  
# So we'll have to change 2006-02-15 05:02:19 to 2023-09-05 08:50:19
!mysql sakila -e "update language set last_update = '2023-09-05 08:50:19' where language_id = 7"

In [21]:
# show the new language table with the update
!mysql sakila -e "select * from language"

+-------------+------------+---------------------+
| language_id | name       | last_update         |
+-------------+------------+---------------------+
|           1 | English    | 2006-02-15 05:02:19 |
|           2 | Italian    | 2006-02-15 05:02:19 |
|           3 | Japanese   | 2006-02-15 05:02:19 |
|           4 | Mandarin   | 2006-02-15 05:02:19 |
|           5 | French     | 2006-02-15 05:02:19 |
|           6 | German     | 2006-02-15 05:02:19 |
|           7 | Vietnamese | 2023-09-05 08:50:19 |
+-------------+------------+---------------------+

#### Write a DELETE statement to delete one or more records from any one of the tables.

In [22]:
# Let's add a bunch of information into the language table (Spanish, Russian, Korean, Arabic) and delete 2 out of the 4 languages that were recently added
!mysql sakila -e "insert into language (language_id, name, last_update) values ('8', 'Spanish', '2023-09-05 09:04:45')"

In [23]:
!mysql sakila -e "insert into language (language_id, name, last_update) values ('9', 'Russian', '2023-09-05 09:04:45')"

In [24]:
!mysql sakila -e "insert into language (language_id, name, last_update) values ('10', 'Korean', '2023-09-05 09:04:45')"

In [25]:
!mysql sakila -e "insert into language (language_id, name, last_update) values ('11', 'Arabic', '2023-09-05 09:04:45')"

In [26]:
# show the new language table with the new 4 added languages
!mysql sakila -e "select * from language"

+-------------+------------+---------------------+
| language_id | name       | last_update         |
+-------------+------------+---------------------+
|           1 | English    | 2006-02-15 05:02:19 |
|           2 | Italian    | 2006-02-15 05:02:19 |
|           3 | Japanese   | 2006-02-15 05:02:19 |
|           4 | Mandarin   | 2006-02-15 05:02:19 |
|           5 | French     | 2006-02-15 05:02:19 |
|           6 | German     | 2006-02-15 05:02:19 |
|           7 | Vietnamese | 2023-09-05 08:50:19 |
|           8 | Spanish    | 2023-09-05 09:04:45 |
|           9 | Russian    | 2023-09-05 09:04:45 |
|          10 | Korean     | 2023-09-05 09:04:45 |
|          11 | Arabic     | 2023-09-05 09:04:45 |
+-------------+------------+---------------------+

In [27]:
# Time to delete 2 languages from the language table: Russian and Arabic
!mysql sakila -e "delete from language where language_id = 9 or language_id = 11"

In [28]:
# show the new language table to see the deleted languages information
!mysql sakila -e "select * from language"

+-------------+------------+---------------------+
| language_id | name       | last_update         |
+-------------+------------+---------------------+
|           1 | English    | 2006-02-15 05:02:19 |
|           2 | Italian    | 2006-02-15 05:02:19 |
|           3 | Japanese   | 2006-02-15 05:02:19 |
|           4 | Mandarin   | 2006-02-15 05:02:19 |
|           5 | French     | 2006-02-15 05:02:19 |
|           6 | German     | 2006-02-15 05:02:19 |
|           7 | Vietnamese | 2023-09-05 08:50:19 |
|           8 | Spanish    | 2023-09-05 09:04:45 |
|          10 | Korean     | 2023-09-05 09:04:45 |
+-------------+------------+---------------------+